<div class="container-fluid cont">
  <div class="row cont-head">
    <div class="col-md-3 title">{{title}}</div>
    <div class="col-md-2 col-md-offset-7">
      <button class="btn btn-default" (click)="lampInit()">Init Lamp</button>
      <button class="btn btn-default" (click)="lampBili()">闪烁</button>
    </div>
  </div>
  <div class="row cont-body">
    <div class="col-md-offset-4 col-md-4 content">
      <div class="row">
        <div class="col-md-12 text-center title">
          点击按钮 控制小灯
        </div>
      </div>
      <div class="row body-row">
        <div class="col-md-12 body">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-lg {{btnOn}}" (click)="turnOn()">ON</button>
            <button type="button" class="btn btn-default btn-lg {{btnOff}}" (click)="turnOff()">OFF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>